@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Demo</title>
    <script src="~/Scripts/angular.min.js"></script>> 
</head>
<body>
    <div>  
        <div>简单的表达式</div>
        <div ng-app>
            <p>first {{5+5}}</p>
        </div>
    </div>
</body>
</html>
