@using mq.application.webmvc

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetImg</title>
</head>
<body>
<div>
    92CC3429-7B23-4453-89FC-AB28429EC5E1.JPG
    <img src="@(DomainUrlHelper.MqWebSiteBg)/Images/ShowImage?type=1&picid=92CC34297B23445389FCAB28429EC5E1" />
</div>
</body>
</html>
