@using mq.application.webmvc

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginRSA</title>

    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="http://passport.cnblogs.com/scripts/jsencrypt.min.js"></script>
    <script type="text/javascript">
        // 使用jsencrypt类库加密js方法，
        function encryptRequest(reqUrl, data, publicKey) {
            var encrypt = new JSEncrypt();
            encrypt.setPublicKey(publicKey);
            // ajax请求发送的数据对象
            var sendData = new Object();
            // 将data数组赋给ajax对象
            for (var key in data) {
                if (data.hasOwnProperty(key)) {
                    sendData[key] = encrypt.encrypt(data[key]);
                }
            }

            $.ajax({
                url: reqUrl,
                type: 'post',
                data: sendData,
                dataType: 'json',
                success: function (data) {
                    console.info(data);
                },
                error: function (xhr) {
                    //console.error('出错了');
                }
            });
        }

        $(function () {
            $('#testme').click(function () {
                var data = [];
                data['username'] = $('#username').val();
                data['passwd'] = $('#passwd').val();
                var pkey = $('#pubkey').val();
                encryptRequest('@(DomainUrlHelper.MqWebSiteBg)/Test/Validate', data, pkey);
            });
        });
    </script>
</head>
<body>
<div>
    <label for="pubkey">Public Key</label><br />
    <textarea id="pubkey" rows="15" cols="65">
        MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQC4mZ8DLLwSMETsoQTKdu4efwhd
        fTY/rxhsGA5EittII0/SeDQlRC4IzpxzMTKQSMWvnRlvD7V4Z2u1KBGhE++i/T5K
        RdNCBXdo/G0pUdP2Nf4DpMP30HF54GwP8iZoXWVLy/tWtdZx9DUvajCn6GmgnjqK
        NPTiCQsARLvYAou18wIDAQAB
    </textarea><br />
    <label for="input">Text to encrypt:</label><br />
    name:<input id="username" name="username" type="text"/><br />
    password:<input id="passwd" name="passwd" type="password"/><br />
    <input id="testme" type="button" value="submit" /><br />
</div>
</body>
</html>
