@using HowMVCWork.Models

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>A</title>
</head>
<body>
<div> @*(HtmlHelper<Model>)*@
</div>
</body>
</html>
